/* ----- 1 root ----- */
html {
  font-size: 17px;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}
body {
  font-family: "Lato", "Open Sans", "Noto Sans JP", "Osaka", "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
  color: #333;
  -webkit-font-smoothing: antialiased;
}
/* ----- 2 layout ----- */
.container-fluid {
  padding: 0px;
  margin: 0px;
  width: 100%;
}
.row {
  padding: 0px;
  margin: 0px;
}
.full-width {
  max-width: 1280px;
  padding: 0px;
}
.full-width-padding {
  max-width: 1280px;
  padding: 0px 22px;
}
@media (max-width: 767px) {
  .full-width-padding {
    padding: 0px 22px;
  }
}
.row-negative-offset {
  margin-left: -22px;
  margin-right: -22px;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
  padding: 0px 22px;
}

/* ----- 3 links ----- */
a {
  color: #0070c9;
}
a:focus {
  color: #0070c9;
  box-shadow: 0 0 0 3px rgba(131, 192, 253, 0.5);
  outline-offset: 1px;
  outline: none;
}
a:active:focus {
  box-shadow: none;
  outline: none;
}
a:hover, a:focus:hover {
  color: #0070c9;
  text-decoration: underline;
}
/* ----- 4 navbar and header ----- */
.navbar {
  padding: 0px 22px;
}

@media (max-width: 767px) {
  .navbar {
    padding: 0px 22px;
  }
}
nav#local_nav a,
nav#local_nav a:hover,
nav#local_nav a:active {
  text-decoration: none;
  color: #333;
}

header#local_nav_wrapper {
  width: 100%;
  background-color: white;
  border-bottom: 1px solid rgba(51, 51, 51, 0.2);
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  z-index: 9;
  top: 0px;
}
header#local_nav_wrapper nav#local_nav {
  max-width: 1280px;
  margin: auto;
  height: 52px;
}
@media (max-width: 767px) {
  header#local_nav_wrapper nav#local_nav {
    height: 52px;
  }
}
header#local_nav_wrapper nav#local_nav .local-nav-title {
  color: #111;
  font-size: 21px;
  font-weight: 700;
  line-height: 52px;
  height: 52px;
}
@media (max-width: 767px) {
  header#local_nav_wrapper nav#local_nav .local-nav-title {
    font-size: 19px;
  }
}
header#local_nav_wrapper nav#local_nav .navbar-toggler {
  height: 52px;
  width: 52px;
  background-repeat: no-repeat;
  background-position: left center;
}
@media (max-width: 767px) {
  header#local_nav_wrapper nav#local_nav .navbar-toggler {
    position: absolute;
    top: 0px;
    right: 58px;
  }
}
@media (max-width: 767px) {
  header#local_nav_wrapper nav#local_nav .navbar-toggler.snap-right {
    right: 5px;
  }
}
header#local_nav_wrapper nav#local_nav .navbar-toggler .toggler-menu-icon {
  display: block;
  width: 12px;
  height: 2px;
  background: #333;
  position: absolute;
}
header#local_nav_wrapper nav#local_nav .navbar-toggler .toggler-menu-icon-left {
  left: 15px;
  transform: rotate(-40deg);
  -webkit-transform: rotate(-40deg);
  transition: transform 0.3s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1s;
}
header#local_nav_wrapper
  nav#local_nav
  .navbar-toggler
  .toggler-menu-icon-right {
  left: 23px;
  transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
  transition: transform 0.3s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1s;
}
header#local_nav_wrapper
  nav#local_nav
  .navbar-toggler.collapsed
  .toggler-menu-icon-left {
  transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
  transition: transform 0.3s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1s;
}
header#local_nav_wrapper
  nav#local_nav
  .navbar-toggler.collapsed
  .toggler-menu-icon-right {
  transform: rotate(-40deg);
  -webkit-transform: rotate(-40deg);
  transition: transform 0.3s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1s;
}
header#local_nav_wrapper nav#local_nav .local_nav_menu {
  font-size: 12px;
}
@media (max-width: 767px) {
  header#local_nav_wrapper nav#local_nav .local_nav_menu {
    background-color: white;
    padding: 0px;
    position: absolute;
    top: 52px;
    left: 0px;
    width: 100%;
    padding: 0 50px;
    border-bottom: 1px solid rgba(51, 51, 51, 0.2);
  }
}
header#local_nav_wrapper nav#local_nav ul li .nav-link {
  display: block;
  line-height: 2;
  letter-spacing: 0;
  margin-left: 1rem;
  margin-right: 0rem;
  position: relative;
  top: 2px;
}
@media (max-width: 767px) {
  header#local_nav_wrapper nav#local_nav ul li .nav-link {
    top: 0px;
    margin-left: 0;
    margin-right: 0;
  }
  header#local_nav_wrapper nav#local_nav ul li {
    border-bottom: 1px solid rgba(214, 214, 214, 0.5);
    font-size: 14px;
  }
  header#local_nav_wrapper nav#local_nav ul li:last-child {
    border-bottom: none;
  }
}
@media (max-width: 767px) {
  header#local_nav_wrapper nav#local_nav .country-select {
    height: 52px;
    width: 44px;
    background-size: 20px 20px;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 10px;
  }
}
header#local_nav_wrapper nav#local_nav .country-select span {
  position: relative;
  top: 20px;
}
/* ----- 5 typography body ----- */
p, p.large, .large {
  font-size: 21px;
  letter-spacing: 0.231px;
  line-height: 1.5;
  font-weight: 400;
}
p, p.normal, .normal {
  font-size: 17px;
  font-weight: 400;
  padding-top: 0px !important;
  margin-top: 0;
  margin-bottom: 1rem;
}
p.reduced, .reduced {
  font-size: 14px;
  font-weight: 400;
}
p.xsmall, .xsmall {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.45;
  letter-spacing: -0.12px;
}
/* ----- 6 typography title ----- */
strong, b, .strong {
  font-weight: 700;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: "Lato", "Open Sans", "Noto Sans JP", "Osaka", "Helvetica Neue", Arial, sans-serif;
  margin: 0px;
  color: #111;
  font-weight: 700;
}
h1, .h1 {
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: 0;
}
h2, .h2 {
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: 0.128px;
}
h3, .h3 {
  font-size: 28px;
  line-height: 1.3;
}
h4, .h4 {
  font-size: 24px;
  line-height: 1.3;
}
h5, .h5 {
  font-size: 17px;
  line-height: 1.3;
}
h6, .h6 {
  font-size: 14px;
  line-height: 1.47059;
  letter-spacing: 0;
}
/* ----- 7 global footer ----- */
.global-footer {
  color: #888;
  background-color: #f2f2f2;
}
.global-footer .footer-terms {
  margin-bottom: 10px;
}
.global-footer .footer-copy-right,
.global-footer .footer-link {
  margin-top: 5px;
}
.global-footer .footer-link a {
  color: #555;
}
/* ----- 8 sitck footer to bottom ----- */
html {
  height: 100%;
}
body {
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  -ms-flex-direction: column;
  flex-direction: column;
}
.main-content {
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
/* ----- 9 utilities ----- */
hr {
  border-color: #d6d6d6;
  width: 100%;
}
.horizontal-divider {
  color: #d6d6d6;
  padding: 0px 10px;
}
.thumbnail-wrapper{
  overflow: hidden;
  width: 100%;
  border-radius: 6px;
}
.thumbnail-wrapper img{
  width: 100%;
}
.thumbnail{
  transform: scale(1); /* Standard syntax */
  transition: all 200ms ease-out;
}
.thumbnail:hover{
  transform: scale(1.05); /* Standard syntax */
  transition: all 150ms ease-out;
}
/* ----- 10 modal lightbox ----- */
.modal-body {
  padding: 0px;
}
.ekko-lightbox-nav-overlay span{
  font-size: 28px;
}
.ekko-lightbox a {
box-shadow: none;
color: white;
}
.ekko-lightbox a:hover {
  opacity: 1;
  text-decoration: none;
  color: white;
  box-shadow: none;
}

/* ----- 11 buttons ----- */

.btn {
  line-height: 1.5;
  font-weight: 400;
  background-color: white;
  font-family: inherit;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  min-width: 30px;
  text-align: center;
  white-space: nowrap;
  padding: 4px 15px; /* default button size*/
  border: 1px solid #d6d6d6;
  background-color: white;
}
.btn:hover, .btn-focus, .btn:active{
  border: 1px solid #ddd;
}

/* ----- button global states ----- */
button:focus{
  box-shadow: none;
  outline: none;
}

.btn:focus {
  box-shadow: 0 0 0 3px rgba(131,192,253,.5);
  outline: none;
}

.btn:focus:active, button.btn-link:focus:active, a.btn-link:focus:active {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline: 0 !important;
}

button.btn-link:hover, a.btn-link:hover,
button.btn-link:active, a.btn-link:active {
  text-decoration: underline;
  outline: none;
}

button.btn-link:focus, a.btn-link:focus {
  outline: 3px solid rgba(131, 192, 253, 0.5);
  outline-offset: 1px;
  text-decoration: none;
}

/* ----- button sizes ----- */
.btn-lg {
  font-size: 17px;
  padding: 13px 15px 14px 15px;
  min-width: 160px;
}

.btn-md {
  font-size: 17px;
  padding: 4px 15px;
  min-width: 80px;
}

.btn-sm {
  font-size: 12px;
  padding: 2px 10px;
  min-width: 20px;
}

/* ----- button styles ----- */
.btn-primary {
    background-color: #0070c9; /*#da0f47;*/
    border-color: #07c;
    color: white;
}
.btn-primary:hover,
.btn-primary:focus {
    background-color: #077dda;
    border-color: #1482d0 !important;
    color: white !important;
}
.btn-primary:active {
    background-color: #0070c9;
    border-color: #006dbc;
}
.btn-secondary {
    background-color: #e3e3e3;
    background: linear-gradient(white, #e3e3e3);
    border-color: #d6d6d6;
    color: #666;
}
.btn-secondary:hover,
.btn-secondary:focus {
    background-color: #eeeeee;
    background: linear-gradient(white, #eeeeee);
    border-color: #d9d9d9 !important;
    color: #666 !important;
}
.btn-secondary:active {
    background-color: #eeeeee;
    background: linear-gradient(#f7f7f7, gainsboro);
    border-color: #d0d0d0;
    color: #666;
}
/* ----- button special attributes ----- */
.btn.btn-block {
  width: 100%;
}
.btn.btn-round {
  border-radius: 18px;
}
.btn.text-truncate {
  text-overflow: ellipsis;
}
.btn.text-wrap {
  word-break: break-word;
  -ms-word-break: break-all;
}
/* ----- button links ----- */
button.btn-link, a.btn-link {
  background: none;
  letter-spacing: -0.37px;
  border: none;
  color: #0070c9;
  padding: 0px;
  cursor: pointer;
}
/* ----- show hide button ----- */
.btn-secondary.toggle {
  display: inline-block;
}
.btn-secondary.toggle.collapsed {
  display: none;
}
.btn-primary.toggle {
  display: none;
}
.btn-primary.toggle.collapsed {
  display: inline-block;
}